<!DOCTYPE html>
<html>
  <head>
    <title>A Night In Minden - 1T7</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<%= render 'layouts/header' %>
	<% flash.each do |message_type, message| %>
	  <% message = [message] if !message.is_a?(Array) %>
	  <div class="alert alert-<%= message_type %> col-md-6 col-md-offset-3">
		  <ul>
			  <% message.each do |message| %>
				<li><%= message %></li>
			  <% end %>
		  </ul>
	  </div>
	<% end %>
    <%= yield %>
  </body>
  
  <%= render 'layouts/footer' %>
</html>
